.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mat-toolbar {
    background-color: #ff0000;
    justify-content: space-between;

    .headerInfo {
      display: flex;
      align-items: center;

      button {
        font-size: x-large;
        padding: 0;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .token_cryptokemon {
          width: 45px;
          height: 45px;
        }
      }

      p {
        margin: 0;
        padding: 0 10px;
      }
    }
  }
}
