.mat-toolbar {
  .headerInfo {
    display: flex;
    align-items: center;

    p {
      margin: 0;
      margin-left: 8px;
    }
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .toolbar-title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 16px;
  }

  .search-field {
    width: 400px;
    margin-right: 16px;

    input {
      font-size: 18px;
      padding: 6px 12px;
    }

    button {
      font-size: 18px;
    }
  }
}
