.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mat-toolbar {
    background-color: #ff0000;
    justify-content: space-between;

    .headerInfo {
      display: flex;
      align-items: center;

      button {
        font-size: x-large;
      }

      p {
        margin: 0;
        padding: 0 10px;
      }
    }
  }
}
