<div class="header">
  <mat-toolbar color="red">
    <div class="headerInfo">
      <button mat-icon-button color="primary">
        <mat-icon>account_circle</mat-icon>
      </button>
      <p>{{ user.username }}</p>
    </div>
    <button mat-raised-button color="primary" routerLink="/cart-options">
      <mat-icon>shopping_cart</mat-icon>
      View Cart
    </button>
    <div class="headerInfo">
      <p>{{ user.cryptokemons }}</p>
      <button mat-icon-button color="primary">
        <img src="../../assets/token_cryptokemon.svg">
      </button>
    </div>
  </mat-toolbar>
</div>
