#appBar {
  background-color: #ff0000e6;

  .mat-tab-label {
    color: white;
  }

  .mat-tab-link {
    opacity: 1;
  }

  .mat-tab-link-active {
    opacity: 1;
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
  }
}
