footer {
    background-color: #f5f5f5;
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
  }
  
  footer p {
    margin: 0;
    text-align: center;
  }
  