div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;

    h1 {
        text-align: center;
        margin: auto;
        margin-bottom: 10%;
    }
    
    h3 {
        text-align: center;
        margin: auto;
        height: 100px;
        font-size: x-large;
    }

    p {
        text-align: center;
        font-size: x-large;
        margin: 1%;
    }

    img {
        max-width: 250px;
        margin: auto;
    }

    div{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 1%;
    }
}