<div>
    <h1>{{myProduct.title | uppercase}}</h1>
    <h3>{{myProduct.description}}</h3>
    <img src={{myProduct.imageURL}} />
    <p *ngIf="myProduct.size">Taille : {{myProduct.size}}</p>
    <p>{{myProduct.naissance | date: 'EEEE dd MMMM yyyy'}}</p>
    <select name="inventaire" id="inventaire" (change)="onAddItems($event)">
        <option value=0>Rien</option>
        <option value=10>Pelle</option>
        <option value=20>Pioche</option>
        <option value=15>Hache</option>
      </select>
    <p>{{selectedPrice  | currency:'EUR'}}</p>
    <div>
        <button (click)="onAddLike()">Like {{myProduct.likes}}</button>
        <mat-checkbox class="example-margin" (click)="onAddFav()">Favoris : {{myProduct.fav}}</mat-checkbox>
    </div>
</div>