.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

  h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
  }

  h3 {
    color: #666;
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .loading {
    font-size: 1em;
    color: #999;
  }

  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;

    &:first-child {
      padding-top: 0;
    }

    .pokemon {
      display: flex;
      align-items: center;

      h3 {
        margin-left: 10px;
      }

      img {
        width: 50px;
        height: 50px;
      }
    }

    .shop_info {
      display: flex;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }

      p {
        margin-left: 10px;
      }
    }
  }

  .total_price {
    margin-top: 20px;

    h2 {
      font-size: 1.5em;
      color: #333;
    }
  }

  .crypto {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
}
