<div class="card">
  <header class="title">
    <title>{{pokemon.name}}</title>
  </header>
  <img src={{pokemon.image}} alt={{pokemon.name}}>
  <content>
    <div class="stats">
      <p>HP : {{pokemon.stats.HP}}</p>
      <p>A : {{pokemon.stats.attack}}</p>
      <p>D : {{pokemon.stats.defense}}</p>
    </div>
    <div class="stats">
      <p>AS : {{pokemon.stats.special_attack}}</p>
      <p>DS : {{pokemon.stats.special_defense}}</p>
      <p>V : {{pokemon.stats.speed}}</p>
    </div>
  </content>
  <div class="types">
    <img *ngFor="let types of pokemon.apiTypes" src={{types.image}} alt={{types.name}}>
  </div>
</div>
