.stats {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card {
    width: 50%;
}

.title {
    display: flex;
    justify-content: center;
}

.types {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
    img{
        width: 30%;
    }
}