.pokemon-card-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 16px;
  width: 200px;

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #424242;
  }

  img {
    width: 120px;
    height: 120px;
    margin-top: 8px;
  }
}
